<div class = "welcomeWrapper">
    <h1 class = "welcomeHeader">How well do you know the Marvel Comics Universe?</h1>
    <p class = "welcomeHowTo">
        Click through these doors to find out. You will be provided a randomly selected backstory and three multiple choice options. Select the hero that matches the backstory to earn MCP (Marvel Comic Points). 
    </p>
    <a ng-click = "$ctrl.playerName()" href = "#!/gameScreen"><div class = "buttonWrapper">
        <h2 class = "gameButton">START THE GAME</h2>
    </div></a>
</div>